.elementor-4986 .elementor-element.elementor-element-2101713b{padding:0px 0px 0px 0px;}.elementor-widget-posts .elementor-button{background-color:var( --e-global-color-accent );font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-widget-posts .elementor-post__title, .elementor-widget-posts .elementor-post__title a{color:var( --e-global-color-secondary );font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );}.elementor-widget-posts .elementor-post__meta-data{font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-weight:var( --e-global-typography-secondary-font-weight );}.elementor-widget-posts .elementor-post__excerpt p{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-size:var( --e-global-typography-text-font-size );font-weight:var( --e-global-typography-text-font-weight );line-height:var( --e-global-typography-text-line-height );}.elementor-widget-posts .elementor-post__read-more{color:var( --e-global-color-accent );}.elementor-widget-posts a.elementor-post__read-more{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-widget-posts .elementor-post__card .elementor-post__badge{background-color:var( --e-global-color-accent );font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-widget-posts .elementor-pagination{font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-weight:var( --e-global-typography-secondary-font-weight );}.elementor-widget-posts .e-load-more-message{font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-weight:var( --e-global-typography-secondary-font-weight );}@media(max-width:1366px){.elementor-widget-posts .elementor-post__excerpt p{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}}@media(max-width:1024px){.elementor-widget-posts .elementor-post__excerpt p{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}}@media(max-width:767px){.elementor-widget-posts .elementor-post__excerpt p{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}}/* Start custom CSS for posts, class: .elementor-element-38fa0d52 */.testimonials-loop-section {
	overflow: hidden;
}
.testimonials-loop-section {
  padding-bottom: 40px;
  position: relative;
}
.testimonials-loop-section .swiper-pagination {
  width: auto;
}
.testimonials-loop-section .swiper-pagination .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: #fff !important;
	margin: 4px;
	opacity: 1;
}
.testimonials-loop-section .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: #000 !important;
}
.testimonials-loop-section .swiper-button-prev,
.testimonials-loop-section  .swiper-button-next{
  width:30px;
  height:30px;
}
.testimonials-loop-section .swiper-button-next::after, 
.testimonials-loop-section .swiper-button-prev::after{
  font-size: 20px;
}
.testimonials-loop-section  .swiper-button-next {
  color: #fff;
  bottom: 0;
  top: auto;
  transition: unset;
}
.testimonials-loop-section .swiper-button-prev {
  top: auto;
  bottom: 0;
  right: 70px;
  left: auto;
  color: #fff;
  font-size: ;
}
.testimonials-loop-section .swiper-initialized .swiper-pagination {
    position: absolute;
    right: 30px;
    bottom: 70px;
    width: auto;
    left: unset;
}/* End custom CSS */